/* CSS Document */


/*公用*/
.com_width{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.hide{
	display: none;
}
.show{
	display: block;
}

.left_area{
	float: left;
}
.right_area{
	float: right;
}

/*topbar*/
.topbar{
	height: 32px;
	background-color: #f7f7f7;
	line-height: 32px;
}
.collection{
	background: url(../images/icon/collection.png) left center no-repeat;
	padding: 19px;
	font-weight: bold;
}
.topbar a:hover{color:blue;}

/*logobar*/
.logobar{
	height: 86px;
	background-color: #1D7AD9;
}
.logo{
	padding-left: 40px;
	padding-top: 12px;
}

/*search*/
.search_box{
	width: 430px;
	padding-top: 25px;
	padding-left: 185px;
}
.search_text{
	width: 350px;
	height: 35px;
	line-height: 35px\9;   /*\9适应所有IE浏览器*/
	padding: 0 5px;
	background-color: #fff;
}
.search_btn{
	width: 70px;
	height: 35px;
	background-color: #ff8c00;
	font-size: 14px;
	font-family: "Microsoft Yahei","微软雅黑";
	color: #fff;
}

/*shopcar*/
.shopcar{
	width: 145px;
	height: 35px;
	background-color: #ff8c00;
	margin-top: 25px;
	font: 14px/36px "Microsoft Yahei","微软雅黑";
	color: #fff;
	margin-right: 59px;
}
.shop_text{
	height: 100%;
	width: 90px;
	border-right: #e27a00 solid 1px;
	background: url(../images/icon/shopicon.jpg) 10px center no-repeat;
	text-indent: 40px;
}
.shop_num{
	width: 26px;
	height: 35px;
	background: url(../images/icon/arrows.jpg) right center no-repeat;
	text-align: right;
	padding-right: 16px;
}

/*navbox*/
.navbox{
	height: 35px;
	background-color: #1369c0;
	color: #fff;
}
.shop_class{
	width: 190px;
	position: relative;
}
.shop_class h3{
	text-align: center;
	line-height: 35px;
}
.shop_class i{
	width: 11px;
	height: 7px;
	overflow: hidden;
	display: inline-block;
	background: url(../images/icon/down.png) left center no-repeat;
}
.nav,.shop_class h3{
	font-family: "Microsoft Yahei","微软雅黑"; 
}
.nav {
	line-height: 35px;
}
.nav li{
	float: left;
}
.nav a{
	height: 35px;
	display: inline-block;
	padding: 0 35px;
	color: #fff;
}
.nav .active{
	background-color: #4593fd;
}

/*全部商品分类*/
.shop_class_show{
	background-color: #4593fd;
	position: absolute;
	left: 0;
	top: 35px;
	width: 100%;
	font-size: 12px;
}
.shop_class_item{
	padding: 14px 10px;
	border-bottom: #3487f2 solid 1px;
	border-top: #5aa1fe solid 1px;
}
.shop_class_item dt{
	background: url(../images/icon/aLink.png) right center no-repeat;
	height: 20px;
}
.shop_class_item .b{
	font: 14px/1 "Microsoft Yahei","微软雅黑"; 
}
.shop_class_item a{
	color: #fff;	
}
.shop_class_item a:hover{
	text-decoration: underline;
}
.shop_class_item .aLink{
	width: 48px;
	height: 20px;
	background: url(../images/icon/bg_circle.png) left center no-repeat;
	display: inline-block;
	text-align: center;
	line-height: 20px; 
	text-decoration: underline;
}

/*.shop_class_item active状态*/
.shop_class_active{
	background-color: #fff;
	border-left: #4593fd solid 1px;
}
.shop_class_active a{
	color: #000;
}
.shop_class_active .aLink{
	color: #fff;
	text-decoration: none;
}
.shop_class_active dt{
	background: none;
}

/*弹出列表*/
.shop_class_list{
	width: 568px;

	border: #ccc solid 1px; 
	position: absolute;
	left: 190px;
	top: 35px;
}
.shop_list_item{
    padding: 10px 0;
    border-bottom:#cccccc solid 1px;
}
.list_line{
    padding: 0 20px;
}
.shop_list_item dt{
	color: #4b87d9;
	font-weight: bold;
	height: 24px;
    line-height: 24px;
}
.shop_list_item dd{
	padding-left: 68px;
    margin-top: -24px;
    line-height: 24px;
}
.shop_list_item dd a{
    margin-right: 12px;
}
.shop_list_links{
    padding: 15px 0;
}
.shop_list_links a{
    color: #fff;
    background-color: #2785e6;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    display: inline-block;
    padding:0 14px 0 8px;
    margin-right: 10px;
}
.shop_list_links span{
    width: 11px;
    height: 7px;
    background: url(../images/icon/aLink.png) left center no-repeat;
    display: inline-block;
    margin-left: 7px;
}

/*banner*/
 .banner_bar{
 	width: 810px;
 	height: 326px;
 	float: right;
 	position: relative;
 	overflow: hidden;
 }
 .img_box{
	width: 1620px;
 	height: 326px;
 	position: absolute;
 	left: 0;
 	top: 0;
 }
 .img_box li{
 	float: left;
 }
.img_box img{
	width: 810px;
 	height: 326px;
 	display: block;
}
.img_num{
	position: absolute;
	left: 0;
	bottom: 10px;
	width: 100%;
	text-align: center;
}
.img_num a{
	width: 20px;
	height: 5px;
	overflow: hidden;
	background-color: #fff;
	display: inline-block;
	margin: 0 3px;
}
.img_num .active{
	background-color: #f70;
}

/*商品标题*/
.shop_title{
	height: 44px;
	font-family: "Microsoft Yahei","微软雅黑";	
	line-height: 44px;
}
.shop_title h3{
	font-style: 24px;	
}
